@import url('https://cdn.syncfusion.com/ej2/bootstrap5.css');

.e-spreadsheet .e-sheet-panel:not(.e-rtl) .e-cell {
     background-color: white !important;
     color: black !important;
     text-align: center !important;
     align-items: center !important;
}

.e-spreadsheet .e-table tr .e-cell.e-right-align {
     text-align: center !important;
     align-items: center !important;
}